@import "../assets/variables.scss";

.bg-dark {
    background-color: #1E1E1E !important;

}
.bg-sidebar{
    background-color: #ffffff !important; 
}
.text-sidebar{
    color: #1E1E1E !important;
}
.border-side{
    border-color:#1E1E1E !important;

}



.text-dark {
    color: $wight !important;
}

.bg-secondary {
    background-color: #000000 !important;
}

.bg-light1 {
    background-color: #1E1E1E !important;
}

.text-black {
    color: #1E1E1E !important;
}

.text-dark2 {
    background-color: $wight !important;
}

.bg-light {
    color: aliceblue;
    background-color: #ffffff63 !important;

}