@import "../assets/variables.scss";

.bg-dark {
    background-color: #ffffff !important;
}

.bg-sidebar {
    background-color: #1E1E1E !important;
}

.border-side {
    border-color: #ffffff !important;

}



.text-sidebar {
    color: #ffffff !important;
}

.text-warning {
    color: $warning !important;
}

.text-dark {
    color: $dark !important;
}

.bg-light1 {
    background-color: $light !important;

}

.bg-light2 {
    background-color: #1E1E1E !important;

}

.text-black {
    color: #1E1E1E !important;
}

.text-dark2 {
    background-color: #494949 !important;
}