.hover-zoom {
    transition: transform 0.3s ease; /* Smooth animation */
    cursor: pointer; /* Hand cursor on hover */
  }
  
  .hover-zoom:hover {
    transform: scale(1.05); /* Slightly zoom the image */
  }
  
  .card-img {
  transition: transform 0.3s ease, filter 0.3s ease;
}

.card-img:hover {
  transform: scale(1.05); /* slightly enlarge the image */
  filter: brightness(70%); /* darken the image */
  cursor: pointer;
}
