<div class="row gx-3 gy-3 justify-content-center pb-2">

    

    <div class="col-12 col-sm-6 col-md-5 col-lg-3 d-flex align-items-stretch">
        <div class="p-4 pl-0  bg-light rounded">
            <div class="row">
                <div class="col-12  text-center">
                    <img src="https://scontent.famm13-1.fna.fbcdn.net/v/t39.30808-6/489462851_122177596460319949_8707127223472349368_n.jpg?stp=dst-jpg_s1080x2048_tt6&_nc_cat=109&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeHYk07lpF8gNxkizBlijmu1g6FMAvnXy8GDoUwC-dfLwZkzRqNwIv6CMpOoWJhCQbvZCmx0k4LKtNMB8tSTlqhe&_nc_ohc=Iw34jgydXfcQ7kNvwHLV48X&_nc_oc=AdkWEvSDOoACgVNBF3zk7Yxddce91E64wlC6qbzXT69chPBMvtCZVui5k5iaT1tz2kVxWV2tE4BYIwohvFZISpZA&_nc_zt=23&_nc_ht=scontent.famm13-1.fna&_nc_gid=C50ynHq68jSjSnMnGu6Pqg&oh=00_AfF6L0sY1RumHjFHybLFqc8a4zCQoMlcSdK1JRPlt4xlgQ&oe=6815BF13" width="100%"
                        class="rounded">
                </div>
            </div>
            <div class="row mt-2 text-center">
                <div class="col-12">
                    <h3><strong>{{"PORTFOLIO" | translate}}</strong></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <h6 class="btn btn-outline-dark m-1 fs-6">Angular</h6>
                    <a class="btn btn-outline-dark m-1 fs-6">Bootstrap</a>
                    <a class="btn btn-outline-dark m-1 fs-6">CSS</a>
                    <a class="btn btn-outline-dark m-1 fs-6">HTML5</a>
                </div>
            </div>
        </div>
    </div>


  <!--   <div class="col-12 col-sm-6 col-md-5 col-lg-3 d-flex align-items-stretch">

        <div class="p-4 pl-0  bg-light rounded">
            <div class="row">
                <div class="col-12  text-center">
                    <img src="https://static.whatsapp.net/rsrc.php/v3/y5/r/cJXjAoffU5Q.png" width="100%"
                        class="rounded">
                </div>
            </div>
            <div class="row mt-2 text-center">
                <div class="col-12">
                    <h3><strong>{{"ZENON_WEBSITE" | translate}}</strong></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <p class="fs-6">{{"DESC_5" | translate}}</p>
                </div>
            </div>
        </div>
    </div> -->
    
</div>