<div *ngIf="!load.loading" class="container-fluid bg-light1 ">

    <div class="container mt-5 pt-2 px-0 ">

        <div class="row d-flex  justify-content-center ">
            <div class="col-12 pb-3">
                <h4 class="text-warning text-nowrap text-center "> {{'NAME' | translate}}</h4>
            </div>
        </div>


            <div class="col-12 pt-2  d-none d-lg-block">
                <div class="row row-cols-5   d-flex align-items-center justify-content-center text-dark">
                    <div class="col-2 col-md-1 text-center"><a type="button" class="to-hover text-dark text-decoration-none"
                            href="#Homee">{{'HOME' | translate}}</a></div>
                    <div class="col-2 col-md-1 text-center p-0 text-nowrap"><a type="button" class="to-hover text-dark text-decoration-none"
                            href="#Aboutme">{{'ABOUT_ME' | translate}}</a></div>
                    <div class="col-2 col-md-1 text-center"><a type="button" class="to-hover text-dark text-decoration-none"
                            href="#Services">{{'SERVICES'
            | translate }}</a></div>
                    <div class="col-2 col-md-1 text-center"><a type="button" class="to-hover text-dark text-decoration-none"
                            href="#Projects">{{'PROJECTS'
            | translate}}</a></div>
                    <div class="col-2 col-md-1 text-center-3"><a type="button" class="to-hover text-dark text-decoration-none"
                            href="#Testimonials">{{'TESTIMONIALS' | translate}}</a></div>
                </div>
            </div>

        <div class="row   pt-5 pb-4 g-0 d-flex align-items-center justify-content-center ">

            <div class="col-1 text-center text-dark"><a href="https://www.Facebook.com/okhashman" target="_blank"><i
                        class="to-hover bi bi-facebook text-dark"></i></a>
            </div>
            <div class="col-1 text-center"><a href="https://www.linkedin.com/in/omar-khashman-a54688263" target="_blank"><i
                        class="to-hover bi bi-linkedin text-dark"></i></a>
            </div>
            <div class="col-1 text-center"><a href="https://x.com/itskhashman10" target="_blank"><i
                        class="to-hover bi bi-twitter-x text-dark"></i></a></div>
            <div class="col-1 text-center"><a href="https://www.instagram.com/itskhashman/" target="_blank"><i
                        class="to-hover bi bi-instagram text-dark"></i></a></div>
        </div>




        <div class="row   bg-secondary py-2">
            <div class="col-12 text-center fs-6 text-body-bg">
                {{'END_1' | translate}} <strong class="text-warning">{{'NAME' | translate}}</strong> {{'END_2' | translate}}
            </div>
        </div>


    </div>
</div>

<div *ngIf="load.loading" class="container-fluid ">

    <div class="container mt-5 pt-2 px-0 ">

        <div class="row d-flex justify-content-center ">
            <div class="col-12 text-center  ">
                <div class="placeholder" style="width: 200px ;height:30px ;"></div>
            </div>
        </div>


        <div class="row pt-2">
            <div class="col-12  d-none d-lg-block">
                <div class="row row-cols-5 d-flex align-items-center justify-content-center text-dark">
                    <div class="col-2 col-md-1 text-center"><div class="placeholder w-75"></div></div>
                    <div class="col-2 col-md-1 text-center"><div class="placeholder w-100"></div></div>
                    <div class="col-2 col-md-1 text-center"><div class="placeholder w-75"></div></div>

                    <div class="col-2 col-md-1 text-center"><div class="placeholder w-75"></div></div>
                    <div class="col-2 col-md-1 text-center"><div class="placeholder w-100"></div></div>


                    
                </div>
            </div>
        </div>

        <div class="row pt-5 pb-4 g-0 d-flex align-items-center justify-content-center ">
            <div class="col-1 text-center text-dark"><div class="placeholder " style="height: 20px; width: 20px;"></div></div>
            <div class="col-1 text-center text-dark"><div class="placeholder " style="height: 20px; width: 20px;"></div></div>

            <div class="col-1 text-center text-dark"><div class="placeholder " style="height: 20px; width: 20px;"></div></div>

            <div class="col-1 text-center text-dark"><div class="placeholder " style="height: 20px; width: 20px;"></div></div>


        </div>




        <div class="row py-2">
            <div class="col-12 text-center fs-6">
               <div class="placeholder " style="height: 20px; width: 500px;"></div>
            </div>
        </div>


    </div>
</div>