
<div class="typewriter">
    <h1>The cat and the hat.</h1>
  </div>
  



















<!-- <div class="container-fluid " *ngIf="load.loading">

    <div class="row d-flex justify-content-center pt-5 mt-5">
        <div class="col-12 d-flex justify-content-center">
            <div class="placeholder " style=" width:326px ; height:57px ;"></div>
        </div>

        <div class="col-12 d-flex justify-content-center pt-2">
            <div class="placeholder " style=" width: 500px; "></div>
        </div>

        <div class="col-12 d-flex justify-content-center py-1">
            <div class="placeholder " style=" width: 500px; "></div>
        </div>

        <div class="col-12 d-flex justify-content-center">
            <div class="placeholder " style=" width: 250px; ">

            </div>
        </div>


        <div class="col-3">
        </div>

        <div class="col-6 row border rounded py-5 mt-5 ">
            <div class="col-2 text-center ">
                <div class="placeholder " style="width: 40px; height: 40px;"></div>
            </div>
            <div class="col-10">

                <div class="col-12 pt-2">
                    <div class=" placeholder w-75"></div>
                </div>
                <div class="col-12">
                    <div class=" placeholder w-75"></div>
                </div>
                <div class="col-12">
                    <div class=" placeholder w-75"></div>
                </div>
                <div class="col-12">
                    <div class=" placeholder w-75"></div>
                </div>
                <div class="col-12">
                    <div class=" placeholder w-75"></div>
                </div>

                <div class="col-12 pt-5">
                    <div class=" placeholder w-25"></div>
                </div>
                <div class="col-12">
                    <div class=" placeholder" style="width: 10%;"></div>
                </div>
            </div>
        </div>

        <div class="col-3">
        </div>

    </div>


</div>

<div *ngIf="!load.loading" id="Testimonials" class="container-fluid   ">
    <div class="container pt-5 mt-5">


        <div class="row d-flex justify-content-center">
            <div class="col-12 d-flex justify-content-center text-dark">
                <h2><strong>{{"TESTIMONIALS" |translate}}</strong></h2>
            </div>
            <div class="col-12 col-md-6 d-flex justify-content-center text-center text-dark">
                <p>{{"DESC_5" | translate}}</p>

            </div>
        </div>

    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-12 p-0">
            <section class="splide">
                <div class="splide__track">
                    <ul class="splide__list ">
                        <li class="splide__slide  rounded bg-light p-ab ">
                            <div class="col-10 mt-5">
                                <div class="row   ">
                                    <div class="col-2 text-center ">
                                        <img src="https://scontent.famm6-1.fna.fbcdn.net/v/t39.30808-6/448775721_7678322478912303_7740668076185266157_n.jpg?stp=cp6_dst-jpg_tt6&_nc_cat=104&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeHfd_AhSJIsDl_M1e2f8lEou-HS4o6kB-K74dLijqQH4leW0MlMvqqPbKpKbI9wZNIDAkgmhuheC9GyBZRSsK06&_nc_ohc=PoWakqk6wZoQ7kNvgFU-n0e&_nc_oc=AdlMrEUvO6rfVP_wSsIe4qCzNxj2bhieq0QGtmhGVDvvqbCQNtdQ3DDV774RRNIu7fhHAEOx4BnIODvQ7NHrABs2&_nc_zt=23&_nc_ht=scontent.famm6-1.fna&_nc_gid=QrD4dwKznsCR2_RSPhCJAA&oh=00_AYF-62pLmzx51BhYkqmswKyBfQGNUVfbV_Uq4oJ02D74gw&oe=67E05D0B" alt="Profile Image"
                                            class=" border-custom rounded-circle">
                                    </div>
                                    <div class="col-10 text-start">

                                        <p class="fs-6">
                                            {{"DESC_5" | translate}}</p>
                                    </div>
                                </div>
                                <div class="row  d-flex  justify-content-center mb-5 ">
                                    <div class="col-2"></div>
                                    <div class="col-10 text-start ">
                                        <strong class="fs-4">{{"NAME_1" | translate}}</strong>
                                    </div>

                                    <div class="col-2"></div>
                                    <div class="col-10 fs-6 text-start ">
                                        {{"OSAMA" | translate}}
                                    </div>
                                </div>

                            </div>
                        </li>
                        <li class="splide__slide  rounded bg-light p-ab ">
                            <div class="col-10 mt-5">
                                <div class="row   ">
                                    <div class="col-2 text-center ">
                                        <img src="https://scontent.famm6-1.fna.fbcdn.net/v/t39.30808-6/448775721_7678322478912303_7740668076185266157_n.jpg?stp=cp6_dst-jpg_tt6&_nc_cat=104&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeHfd_AhSJIsDl_M1e2f8lEou-HS4o6kB-K74dLijqQH4leW0MlMvqqPbKpKbI9wZNIDAkgmhuheC9GyBZRSsK06&_nc_ohc=PoWakqk6wZoQ7kNvgFU-n0e&_nc_oc=AdlMrEUvO6rfVP_wSsIe4qCzNxj2bhieq0QGtmhGVDvvqbCQNtdQ3DDV774RRNIu7fhHAEOx4BnIODvQ7NHrABs2&_nc_zt=23&_nc_ht=scontent.famm6-1.fna&_nc_gid=QrD4dwKznsCR2_RSPhCJAA&oh=00_AYF-62pLmzx51BhYkqmswKyBfQGNUVfbV_Uq4oJ02D74gw&oe=67E05D0B" alt="Profile Image"
                                            class=" border-custom rounded-circle">
                                    </div>
                                    <div class="col-10 text-start">

                                        <p class="fs-6">
                                            {{"DESC_5" | translate}}</p>
                                    </div>
                                </div>
                                <div class="row  d-flex  justify-content-center mb-5 ">
                                    <div class="col-2"></div>
                                    <div class="col-10 text-start ">
                                        <strong class="fs-4">{{"NAME_1" | translate}}</strong>
                                    </div>

                                    <div class="col-2"></div>
                                    <div class="col-10 fs-6 text-start ">
                                        {{"OSAMA" | translate}}
                                    </div>
                                </div>

                            </div>
                        </li>
                        <li class="splide__slide  rounded bg-light p-ab ">
                            <div class="col-10 mt-5">
                                <div class="row   ">
                                    <div class="col-2 text-center ">
                                        <img src="https://scontent.famm6-1.fna.fbcdn.net/v/t39.30808-6/448775721_7678322478912303_7740668076185266157_n.jpg?stp=cp6_dst-jpg_tt6&_nc_cat=104&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeHfd_AhSJIsDl_M1e2f8lEou-HS4o6kB-K74dLijqQH4leW0MlMvqqPbKpKbI9wZNIDAkgmhuheC9GyBZRSsK06&_nc_ohc=PoWakqk6wZoQ7kNvgFU-n0e&_nc_oc=AdlMrEUvO6rfVP_wSsIe4qCzNxj2bhieq0QGtmhGVDvvqbCQNtdQ3DDV774RRNIu7fhHAEOx4BnIODvQ7NHrABs2&_nc_zt=23&_nc_ht=scontent.famm6-1.fna&_nc_gid=QrD4dwKznsCR2_RSPhCJAA&oh=00_AYF-62pLmzx51BhYkqmswKyBfQGNUVfbV_Uq4oJ02D74gw&oe=67E05D0B" alt="Profile Image"
                                            class=" border-custom rounded-circle">
                                    </div>
                                    <div class="col-10 text-start">

                                        <p class="fs-6">
                                            {{"DESC_5" | translate}}</p>
                                    </div>
                                </div>
                                <div class="row  d-flex  justify-content-center mb-5 ">
                                    <div class="col-2"></div>
                                    <div class="col-10 text-start ">
                                        <strong class="fs-4">{{"NAME_1" | translate}}</strong>
                                    </div>

                                    <div class="col-2"></div>
                                    <div class="col-10 fs-6 text-start ">
                                        {{"OSAMA" | translate}}
                                    </div>
                                </div>

                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </div>

</div> -->

